.App {
  background-color: rgb(68, 68, 68);
  height: 100vh;
  width: 100vw;
}

.App-header {
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo {
  height: 100%;
}

.map {
  padding: 40px;
}

.content-container {
  display: flex;
  justify-content: center;
}

.map-container {
  width: 80vw;
  height: 60vh;
  margin-top: 50px;
  position: absolute;
  border-radius: 5px;
}

.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left {
  display: none !important;
}